<div>
  <div class="row page-header">
    <h6 style="text-align: center;">ROW JAVA_SCRIPT HTTP REQUEST AND RESPONSE</h6><br>
  </div>
</div>

<div class="default-height">

<div class="row" style="padding: 20px;">
    <button class="btn btn-info" id="getReqBtn">GET REQUEST</button>
</div>

<div class="row" style="padding: 20px;">
    <button class="btn btn-primary" id="postReqBtn">POST REQUEST</button>
</div>

<div class="row" style="padding: 20px;">
    <button class="btn btn-success" id="postReqBtnRaw">POST REQUEST RAW</button>
</div>
  





</div>