<div style="text-align: center;background-color: #1db3ee; padding: 20px">

  <a routerLink="home" class="btn btn-primary" role="button">HOME</a> | 
  <a routerLink="course" class="btn btn-secondary" role="button">COURSE</a> | 
  <a routerLink="student"class="btn btn-success" role="button">STUDENT</a> | 
  <a routerLink="contact-us"class="btn btn-danger" role="button">CONTACT US</a> | 
  <a routerLink="employee"class="btn btn-warning" role="button">EMPLOYEE</a> | 
  <a routerLink="datepicker-example"class="btn btn-info" role="button">DATE PICKER</a> | 
  <a routerLink="dashboard-example"class="btn btn-info" role="button">DASHBOARD</a> |

  <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DATA TABLE
      </button> | 
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="data-table-example/zero-config">Zero Config</a>
        <a class="dropdown-item" routerLink="data-table-example/server-side">Server Side Process</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Other</a>
      </div>
    </div>

<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    RXJS 
  </button> |
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="learn-rxjs/observable">Observable</a>
    <a class="dropdown-item" routerLink="learn-rxjs/subjedct">Subjedct</a>
    <a class="dropdown-item" routerLink="learn-rxjs/behavior-subjedct">behavior-subjedct</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Promise</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      LOGIN |
  </button> 
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="login/login-one">Login Form One</a>
    <a class="dropdown-item" routerLink="login/login-two">Login From Two</a>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        JAVA_SCRIPT
    </button> 
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="java-script/http">Make http</a>
  </div>




</div>





