<div>
    <div class="row page-header">
      <h6>EMPLOYEE</h6><br>
    </div>
</div>
<h6 style="text-align: center;">Employee List</h6>




<div>
    <app-employee-count *ngIf="employees" 

                      [all]= "getTotalEmployeeCount()"
                      [male]= "getTotalMaleEmployeeCount()"
                      [female]= "getTotalFemaleEmpCount()"
                      [myTesInput]= "1001"
                      (countRadioBtnSelectionChanged)="onEmpFilterRadioBtnChange($event)"
                      >
    </app-employee-count>

    <table>
      <tr> 
        <td>Serial</td>
        <td># ID</td>
        <td>Name</td>
        <td>Gender</td>
        <td>Age</td>
        <td>Phone</td>
        <td>Action</td>
      </tr>

      <ng-container *ngFor="let empObj of employees; let i = index">
          <tr *ngIf="empFelterValue=='all' || empFelterValue == empObj.gender">
               <td>{{i+1}}</td>
              <td>{{empObj.consultationId}}</td>
              <td>{{empObj.patientName}}</td>
              <td>{{empObj.gender}}</td>
              <td>{{empObj.age}}</td>
              <td>{{empObj.phoneNo}}</td>
              <td>View</td>
            </tr>
      </ng-container>
      <tr *ngIf="!employees">
        <td colspan="7">
         Loading Employee, Please wait...
        </td>
      </tr>
      <tr *ngIf="employees && employees.length==0">
          <td colspan="7">
           No Employee data found
          </td>
        </tr>
      
    </table>
  </div>