<div style="text-align: center;background-color:silver; padding: 20px">
  <h1>Employee List</h1>
</div>

<div>
    <app-employee-count 
                      [all]= "getTotalEmployeeCount()"
                      [male]= "getTotalMaleEmployeeCount()"
                      [female]= "getTotalFemaleEmpCount()"
                      [myTesInput]= "1001">
    </app-employee-count>

    <table>
      <tr> 
        <td>Code</td>
        <td>Name</td>
        <td>Gender</td>
        <td>Age</td>
        <td>salary</td>
        <td>Action</td>
      </tr>

      <tr *ngFor="let empObj of employees;">
        <td>{{empObj.code}}</td>
        <td>{{empObj.name}}</td>
        <td>{{empObj.gender}}</td>
        <td>{{empObj.age}}</td>
        <td>{{empObj.salary}}</td>
        <td>View</td>
      </tr>
    </table>
  </div>